@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  padding: 0;
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.Open {
  color: rgb(0, 97, 177);
}
.Assigned {
  color: rgb(224, 183, 0);
}
.InProgress,
.Confirmed {
  color: rgb(4, 194, 4);
}
.Completed {
  color: rgb(48, 48, 48);
}
.Canceled {
  color: rgb(192, 2, 2);
}

.Accept {
  color: rgb(0, 97, 177);
  border-color: rgb(0, 97, 177);
}
.Start,
.ConfirmCompletion {
  color: rgb(4, 194, 4);
  border-color: rgb(4, 194, 4);
}
.Complete {
  color: rgb(5, 42, 255);
  border-color: rgb(5, 42, 255);
}
.CloseRequest {
  color: rgba(61, 61, 61, 0.7);
  border-color: rgba(61, 61, 61, 0.7);
}

.progress-animation {
  animation: grow;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: rgb(59, 130, 246);
  height: 5px;
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
