@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  padding: 0;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}

.Active {
  color: rgb(0, 97, 177);
}
.Pending {
  color: rgb(224, 183, 0);
}
.Accepted {
  color: rgb(4, 194, 4);
}
.Completed {
  color: rgb(48, 48, 48);
}
.Canceled {
  color: rgb(192, 2, 2);
}